
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.user-cover{
  height: 250px;
  background: url(http://dummyimage.com/375x250/50B347/FFF&text=EasyMock) no-repeat center center;
  background-size: cover; 
  position: relative;
  margin-bottom: 50px;
}
.user-avatar{
  position: absolute;
  bottom: 0;
  right: 10px;
  transform: translateY(30%);
  display: flex;
  align-items: center;
  strong{
    margin-right: 10px;
    color: #ffffff;
    font-size: 1rem;
  }
  img{
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
  }
}
.moments{
margin: 0 10px 80px;
> li {
  display: flex;
  padding: 15px 0 11.5px;
  & + li{
    border-top: 1px solid #f2f2f2;
  }
  > img{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  section{
    flex-grow: 1;
    padding-left: 10px;
    header{
      color: #4990E2;
      margin-bottom: 5px;
    }
  }
}
}
.album{
display: flex;
flex-wrap: wrap;
margin-top: 10px;
div{
  width: 30%;
  height: 120px;
  margin-bottom: 10px;
  margin-right: 10px;
}
}

// comment
.comment{
  display: flex;
  align-items: center;
  > i{
    font-size: 18px;
  }
}
.comment-popover{
  display: flex;
  border-radius: 4px;
  background: rgba(0, 0, 0, .6);
  padding: 8px 0;
  margin-right: 5px;
  > div{
    width: 80px;
    text-align: center;
    line-height: 1;
    color: #fff;
    & + div{
      border-left: 1px solid #999;
    }
    i{
      margin-right: 5px;
      font-size: 16px;
      &:before{
        margin-right: 5px;
      }
    }
  }
}
.moment-action{
  display: flex;
  align-items: center;
  line-height: 33px;
  color: #999;
  time{
    margin-right: auto;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
// comment-form
.comment-form{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
  padding: 5px 10px;
  background-color: #f2f2f2;
  z-index: 1001;
  input{
    padding: 5px 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #efefef;
    border-radius: 4px;
  }
}
.slide-up-enter-active,
.slide-up-leave-active{
  transition: transform ease-in .4s;
}
.slide-up-enter,
.slide-up-leave-to{
  transform: translateY(100%);
}